* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #0c0c0c;
    color: #ffffff;
    font-family: "Ubuntu";
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #121212;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#header img {
    width: 50px;
}

#header a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 30px;
    box-shadow: 5px 5px rgb(210, 210, 210);
    border-radius: 10px;
    padding: 12px;
}

#header a:hover {
    background-color: #fff;
    color: #000;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#cardLeetcode {
    background-color: white;
    color: black;
}

#cardLeetcode > div > h3 {
    font-size: 1.4rem;
}

.card {
    cursor: pointer;
    background-color: #252525;
    padding: 20px;
    border-radius: 10px;
    width: 32.3rem;
    height: 13.125rem;
    margin-bottom: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
}

ul {
    list-style: none;
    padding: 0;
}

#contact li {
    margin-bottom: 10px;
}

.language-switcher {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
  
.toggle-btn {
    position: relative;
    z-index: 1;
    /*width: 46px;*/
    width: 2.875rem;
    /*height: 24px;*/
    height: 1.5rem;
    border-radius: 14px;
    background-color: #ccc;
    border: 2px solid #000;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-btn:focus {
    outline: none;
}

.toggle-handle {
    position: absolute;
    top: 0px;
    left: 0px;
    /*width: 24px;
    height: 24px;*/
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.toggle-btn.checked .toggle-handle {
    transform: rotate(360deg) translateX(1.375rem);
}

.toggle-btn.checked {
    background-color: green;
}

.language-label {
    position: relative;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.en-label {
    margin-top: 5px;
    margin-left: 34px;
    margin-right: 8px;
    font-weight: bold;
    font-size: 1rem;
}

.br-label {
    margin-top: 5px;
    margin-left: 8px;
    font-weight: bold;
    font-size: 1rem;
}

.nome {
    font-size: 2rem;
    font-weight: bold;
}

.sobrenome {
    margin-left: 10px;
    font-size: 2rem;
    font-weight: bold;
    color: green;
}

.a {
    width: 100%;
}

.redeSocial {
    width: 80px;
    border-radius: 50%;
    margin-right: 40px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.seccaoEImagem {
    display: flex;
    flex-direction: row;
}

.menuInicio {
    display: flex;
    flex-direction: row;
}

#fotoPrincipal {
    width: 23.75rem;
    border-radius: 50%;
    border: 0.625rem solid white;
}

.metade-pagina {
    width: 40%;
    margin-left: 5rem;
    margin-top: 3.125rem;
}

.textoMaior {
    font-size: 4.5rem;
    text-shadow: 10px 10px black
}

#subtitulo-foto {
    margin-top: 0.625rem;
    margin-left: 9.275rem;
    /*text-align: center;*/
    font-weight: bold;
    font-size: 2.2rem;
}

#espaco {
    margin-left: 100px;
}

#text-javascript {
    padding: 4px;
    background-color: #f7df1e;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
}

#text-java {
    padding: 4px;
    background-color: #F2F2F2;
    color: #F20505;
    font-weight: bold;
    border-radius: 5px;
}

#text-spring {
    padding: 4px;
    font-weight: bold;
    background-color: #6FB440;
    color: white;
    border-radius: 5px;
}

#text-vue {
    padding: 4px;
    background-color: #012E40;
    color: #00BD82;
    font-weight: bold;
    border-radius: 5px;
}

#texto-main {
    margin-top: 30px;
    line-height: 28px;
    font-size: 1.3rem;
}

.card-left {
    width: 52.5%;
}

.card-right {
    width: 45%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #121212;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.lineDown {
    margin-top: 0.125rem;
    margin-left: -0.1875rem;
    width: 20.625rem;
    height: 0.1875rem;
    background-image: linear-gradient(90deg, white, green);
}

/* estilos da pagina begin */

#bigText {
    font-size: 6.4rem;
    font-weight: bold;
    text-shadow: 12px 12px black;
}

.inputTest {
    width: 440px;
    height: 60px;
    box-shadow: 10px 10px #bbb;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 40px;
}

.inputTest p  {
    margin-left: 23px;
    padding-top: 23px;
    color: #5e5e5e;
    font-size: 1.1rem;
}

.inputTest:hover {
    background-color: white;
}

.espaco1 {
    margin-left: 90px;
}

.last {
    height: 300px;
}

.submit {
    box-shadow: 7px 7px #bbb;
    border-radius: 16px;
    background-color: #0c0c0c;
    width: 140px;
    height: 60px;
    margin-bottom: 40px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 60px;
    margin-left: 210px;
}

.submit:hover {
    background-color: #fff;
    color: #000;
}

#email {
    cursor: pointer;
}

#email:hover {
    background-color: #333;
}

#texto-copia-email {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 301px;
  margin-top: 260px;
}

a {
    text-decoration: none;
    color: white;
}

footer img {
    /*width: 70px;
    height: 70px;
    margin-right: -15px;
    border-radius: 10px;*/
    width: 4.375rem;
    height: 4.375rem;
    margin-right: -0.9375rem;
    border-radius: 0.625rem;
}

footer img:hover {
    background-color: #333;
}

img {
    width: 12.5rem;
    border-radius: 10px;
    margin-left: 35px;
}

.slideshow {
    position: relative;
}

.slideshow img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slideshow img.active {
    opacity: 1;
}

.prev, .next {
    position: absolute;
    /*top: 100px;*/
    top: 6.25rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    color: white;
    font-size: 1.6rem;
    /*height: 200px;
    width: 40px;*/
    height: 12.5rem;
    width: 2.5rem;
    line-height: 12.5rem;
    text-align: center;
}

.prev {
    left: 35px;
    bottom: 60px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.prev:hover {
    background-color: hsla(120, 100%, 25%, 0.712);
    transition-duration: 200ms;
}

.next {
    /*right: 3px;
    left: 195px;
    bottom: 60px;*/
    left: 12.1875rem;
    bottom: 3.75rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.next:hover {
    background-color: hsla(120, 100%, 25%, 0.712);
    transition-duration: 200ms;
}

#botaoVerCV {
    background-color: #0c0c0c;
    color: white;
    border-radius: 0.625rem;
    padding: 0.625rem;
    text-align: center;
    width: 7.5rem;
    margin: auto;
    margin-top: 1.25rem;
    box-shadow: 0.44rem 0.44rem #bbb;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

#botaoVerCV:hover {
    background-color: #fff;
    color: #0c0c0c;
}

#botaoVerResume {
    background-color: #0c0c0c;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 120px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 7px 7px #bbb;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

#botaoVerResume:hover {
    background-color: #fff;
    color: #0c0c0c;
}

#metadeDireita2 {
    overflow: auto;
    width: 460px;
    height: 324px;
    background-color: #252525;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    line-height: 1.4;
}

@keyframes botaoDescendo {
    0% {
        margin-top: 20px;
    }
    100% {
        margin-top: 50px;
    }
}

.animacaoDeslocamentoDesce {
    animation: botaoDescendo 1s forwards;
}

@keyframes botaoSubindo {
    0% {
        margin-top: 50px;
    }
    100% {
        margin-top: 20px;
    }
}

.animacaoDeslocamentoSobe {
    animation: botaoSubindo 1s forwards;
}

#projetos {
    width: 90%;
    margin: auto;
}

#tituloProjetos {
    font-size: 2.8rem;
    font-weight: bold;
    text-shadow: 5px 5px black;
}

@keyframes transicaoTituloProjeto {
    0% {

    }

    50% {
        color: #0c0c0c;
        text-shadow: none;
    }

    100% {
        color: white;
        text-shadow: 5px 5px black;
    }
}

@keyframes transicaoTituloProjeto2 {
    0% {
        color: white;
        text-shadow: 5px 5px black;
    }

    100% {
        
    }
}

.transicaoTituloProjeto {
    animation: transicaoTituloProjeto 1s ease-in-out;
}

.transicaoTituloProjeto2 {
    animation: transicaoTituloProjeto2 1s ease-in-out;
}

.resumoProjetos {
    margin-top: 10px;
    margin-bottom: 10px;
}

.textoOculto {
    position: relative;
    z-index: 2;
    background-color: #252525;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 8px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 8px;
    text-align: center;
    cursor: pointer;
    border: 1px solid white;
    margin-bottom: -30px;
}

.textoOculto:hover {
    background-color: #121212;
}

@keyframes transicaoComboBox {
    0% {

    }

    100% {

    }
}

.transicaoBotaoComboBox {
    animation: transicaoComboBox 1s forwards;
}

.combo {
    width: 105%;
    height: 110px;
    background-color: #252525;
    border-radius: 10px;
    border: 1px solid white;
}

#comboBox {
    height: 167px;
}

.itemCombo {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

#botaoRentabilidade {

}

#botaoAprendizado {

}

.itemCombo:hover {
    background-color: #121212;
}

.flex-row2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.triangulo {
    width: 0;
    height: 0;
    margin-top: 0.3125rem;
    margin-left: 0.375rem;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-top: 0.5rem solid #fff;
}

.projEsquerda {
    width: 30%;
    padding: 10px;
    margin-top: 10px;
}

.projDireita {
    width: 70%;
    padding: 10px;
}

.tamanhoImagemProjetos {
    /*width: 95%;
    height: 414px;*/
    width: 47rem !important;
    /*height: 25,875rem !important;*/
    border-radius: 20px;
    margin-right: 20px;
}

#textoBotaoOculto {
    background: linear-gradient(45deg, #accfdb, #1e9dcc);
}

#textoBotaoOculto2 {
    background: linear-gradient(45deg, #e9c0ac, #E57A44);
}

#textoBotaoOculto3 {
    background: linear-gradient(45deg, #db9dd3, #aa3c9b);
}

#textoBotaoOculto4 {
    background: linear-gradient(45deg, #7cd196, #1fad4a);
}

.botaoOculto {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 337px;
    border-radius: 20px;
    color: black;
    /*padding-top: 30px;*/
    padding-top: 45px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    /*ou 121212 de fundo e cor branca*/
    /*ou usar um gradiente suave*/
}

.margemCima {
    margin-top: 40px;
}

#projetoRedes {
    margin-bottom: 30px;
}

.linkTitulo:hover {
    text-decoration: underline;
}

/* estilos do CV */
#dadosPessoais {
    text-align: center;
}

.titulo1 {
    font-size: 1.3rem;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.italico {
    font-style: italic;
}

.margem1 {
    margin-top: 10px;
}

.margem2 {
    margin-top: 10px;
}

.alinharDireita {
    margin-left: auto;
}

/* estilizando o carossel de imagens do primeiro projeto */

.carousel {
    width: 800px;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-images {
    width: 400px; /* Largura total do carrossel (300px x 3 imagens) */
    display: flex;
    transition: transform 0.8s ease-in-out;
  }
  
  .carousel-images img {
    width: 800px;
    height: 414px;
  }
  
  .carousel-navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /*.carousel-button*/
  .carousel-button-prev, .carousel-button-next {
    font-size: 24px;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
  }

  .carousel-button-prev {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .carousel-button-next {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .carousel-button-prev:hover {
    color: hsla(120, 100%, 25%, 0.712);
    transition-duration: 200ms;
  }

  .carousel-button-next:hover {
    color: hsla(120, 100%, 25%, 0.712);
    transition-duration: 200ms;
  }

  .carousel-button:hover {
    background-color: hsla(120, 100%, 25%, 0.712);
    transition-duration: 200ms;
  }
  
  .carousel-dots {
    display: flex;
    /*justify-content: center;*/
    margin-left: 344px;
    margin-top: 10px;
  }
  
  .carousel-dots .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #121212;
    margin: 0 5px;
    cursor: pointer;
    margin-top: 8px;
  }
  
  .carousel-dots .dot.active {
    background-color: hsla(120, 100%, 25%);
  }
  
  .dot {
    border: 1px solid white;
  }

  .botoesTrocaImagem {
    display: flex;
    flex-direction: row;
  }

  .carouselProjetos {
    height: 540px;
    overflow: hidden;
    position: relative;
  }

  .carousel-divs {
    height: 2400px;
    transition: transform 0.8s ease-in-out;
  }

  .prev-button0, .next-button0 {
    display: block;
    font-size: 1.375rem;
    margin-bottom: 3px;
    margin-left: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
  }

  .next-button0:hover, .prev-button0:hover {
    color: hsla(120, 100%, 25%);
  }

/* Carousel do projeto2 */

.carousel2 {
    width: 800px;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-images2 {
    width: 2400px; /* Largura total do carrossel (300px x 3 imagens) */
    display: flex;
    transition: transform 0.8s ease-in-out;
  }
  
  .carousel-images2 img {
    width: 800px;
    height: 414px;
  }

  .carousel-button:hover {
    background-color: hsla(120, 100%, 25%, 0.712);
    transition-duration: 200ms;
  }
  
  .carousel-dots .dot2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #121212;
    margin: 0 5px;
    cursor: pointer;
    margin-top: 8px;
  }
  
  .carousel-dots .dot2.active {
    background-color: hsla(120, 100%, 25%);
  }
  
  .dot2 {
    border: 1px solid white;
  }

/* Carousel do projeto3 */

.carousel3 {
    width: 800px;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-images3 {
    width: 2400px; /* Largura total do carrossel (300px x 3 imagens) */
    display: flex;
    transition: transform 0.8s ease-in-out;
  }
  
  .carousel-images3 img {
    width: 800px;
    height: 414px;
  }
/*
  .carousel-button:hover {
    background-color: hsla(120, 100%, 25%, 0.712);
    transition-duration: 200ms;
  }*/
  
  .carousel-dots .dot3 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #121212;
    margin: 0 5px;
    cursor: pointer;
    margin-top: 8px;
  }
  
  .carousel-dots .dot3.active {
    background-color: hsla(120, 100%, 25%);
  }
  
  .dot3 {
    border: 1px solid white;
  }

/* estilizando a ScrollBar */

::-webkit-scrollbar {
    width: 10px;
  }
 
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }
 
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  #metadeDireita2::-webkit-scrollbar-thumb {
    padding-top: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px;
  }

  #posicaoCorreta {
    margin-bottom: 33px;
  }

  /* Media Querys */

  /* de 1360x768 pra baixo */

  @media (max-width: 1160px) {
    
    /*html {
        font-size: 90%;
    }*/

  }

  @media (max-width: 1240px) {
    .tamanhoImagemProjetos {
        width: 710px !important;
    }
  }

  @media (max-width: 1180px) {
    .tamanhoImagemProjetos {
        width: 660px !important;
    }

    .carousel-dots {
        margin-left: 310px;
    }
  }

  @media (max-width: 1100px) {
    .tamanhoImagemProjetos {
        width: 610px !important;
        height: 336px !important;
    }

    .botaoOculto {
        height: 263px;
    }

    .carousel-dots {
        margin-left: 295px;
    }

    .carouselProjetos {
        height: 460px;
    }
  }

  @media (max-width: 1020px) {
    .tamanhoImagemProjetos {
        width: 560px !important;
    }

    .carousel-dots {
        margin-left: 275px;
    }
  }

  @media (max-width: 940px) {
    .tamanhoImagemProjetos {
        width: 510px !important;
        height: 281px !important;
    }

    .botaoOculto {
        height: 206px;
    }

    .carousel-dots {
        margin-left: 235px;
    }

    .carouselProjetos {
        height: 405px;
    }
  }

  @media (max-width: 860px) {
    .tamanhoImagemProjetos {
        width: 460px !important;
    }

    .carousel-dots {
        margin-left: 220px;
    }
  }

  @media (max-width: 780px) {
    .tamanhoImagemProjetos {
        width: 410px !important;
        height: 226px !important;
    }
    .botaoOculto {
        height: 152px;
    }
    .carousel-dots {
        margin-left: 195px;
    }
    .carouselProjetos {
        height: 360px;
    }
  }

  @media (max-width: 700px) {
    .tamanhoImagemProjetos {
        width: 360px !important;
    }
    .carousel-dots {
        margin-left: 175px;
    }
  }

/* neste vai reduzir o height*/

/* Site para mobile 

  @media (max-width: 720px) {
    html {
        font-size: 60%;
    }
    .menuInicio {
        flex-direction: column;
    }
    #main {
        justify-content: start;
    }
    .seccaoEImagem {
        flex-direction: column;
    }
  }

*/










  @media (max-width: 480px) {
    
  }

  @media (min-width: 641px) and (max-width: 1030px) {

  }

  @media (max-width: 1030px) {

    #equipe-1 {
        margin-bottom: 0px;
    }

}

/* de 1360x768 pra cima */


  
/* 480px // Extra small screen
*  768px // Small screen
*  992px // Medium screen
*  1200px // Large screen
*  1600px // Extra larger screen
*  1900px // Extra larger screen