* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #0c0c0c;
    color: #ffffff;
    font-family: "Ubuntu";
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #121212;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#header img {
    width: 50px;
}

#header a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 30px;
    box-shadow: 5px 5px rgb(210, 210, 210);
    border-radius: 10px;
    padding: 12px;
}

#header a:hover {
    background-color: #fff;
    color: #000;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
}

.card {
    background-color: #252525;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    margin-bottom: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
}

ul {
    list-style: none;
    padding: 0;
}

#contact li {
    margin-bottom: 10px;
}

.language-switcher {
    position: relative;
    display: inline-block;
    height: 32px;
    margin-right: 20px;
}

.posicionamento1 {
    margin-top: 20px;
}
  
.toggle-btn {
    position: relative;
    z-index: 1;
    width: 50px;
    height: 28px;
    border-radius: 14px;
    background-color: #ccc;
    border: 2px solid #000;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-btn:focus {
    outline: none;
}

.toggle-handle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.toggle-btn.checked .toggle-handle {
    transform: rotate(360deg) translateX(22px);
}

.toggle-btn.checked {
    background-color: green;
}

.language-label {
    position: relative;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.en-label {
    margin-left: 34px;
    margin-right: 8px;
    font-weight: bold;
    font-size: 1rem;
}

.br-label {
    margin-left: 8px;
    font-weight: bold;
    font-size: 1rem;
}

.nome {
    font-size: 2rem;
    font-weight: bold;
}

.sobrenome {
    margin-left: 10px;
    font-size: 2rem;
    font-weight: bold;
    color: green;
}

.a {
    width: 100%;
}

.redeSocial {
    width: 80px;
    border-radius: 50%;
    margin-right: 40px;
}

/*#zap {
    background-color: green;
}

#zap:hover {
    background-color: rgba(0, 128, 0, 0.7);
}

#linkedin {
    background-color: purple;
}

#linkedin:hover {
    background-color: rgba(128, 0, 128, 0.7);
}

#gmail {
    background-color: #fff;
    
}

#gmail:hover {
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}*/

.flex-row {
    display: flex;
    flex-direction: row;
}

.fotoPessoal {
    width: 380px;
    border-radius: 50%;
    border: 10px solid white;
}

.metade-pagina {
    width: 40%;
    margin-left: 80px;
    margin-top: 50px;
}

.textoMaior {
    font-size: 4.5rem;
    text-shadow: 10px 10px black
}

#subtitulo-foto {
    margin-top: 10px;
    margin-left: -100px;
    text-align: center;
    font-weight: bold;
    font-size: 2.2rem;
}

#espaco {
    margin-left: 100px;
}

#text-javascript {
    padding: 4px;
    background-color: #f7df1e;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
}

#text-react {
    padding: 4px;
    background-color: #2A2C2E;
    color: #56B7D2;
    font-weight: bold;
    border-radius: 5px;
}

#text-typescript {
    padding: 4px;
    background-color: #007acc;
    font-weight: bold;
    border-radius: 5px;
}

#texto-main {
    margin-top: 30px;
    line-height: 28px;
    font-size: 1.3rem;
}

.card-left {
    width: 52.5%;
}

.card-right {
    width: 45%;
}

.img-card {
    width: 200px;
    border-radius: 10px;
    margin-left: 35px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #121212;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.lineDown {
    margin-top: 2px;
    margin-left: -3px;
    width: 348px;
    height: 3px;
    background-image: linear-gradient(90deg, white, green);
}
/*
.linkSocial {
    color: #ffffff;
    text-decoration: none;
    margin-left: 30px;
    box-shadow: 5px 5px rgb(210, 210, 210);
    border-radius: 10px;
    padding: 12px;
}

.linkSocial:hover {
    color: rgba(255, 255, 255, 0.7);
}
*/

.linkSocial {
    width: 70px;
    margin-right: 10px;
    border-radius: 10px;
}

.linkSocial:hover {
    background-color: #333;
}

/* estilos da pagina begin */

#bigText {
    font-size: 6.4rem;
    font-weight: bold;
    text-shadow: 12px 12px black;
}

.inputTest {
    width: 440px;
    height: 60px;
    box-shadow: 10px 10px #bbb;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 40px;
}

.inputTest p  {
    margin-left: 23px;
    padding-top: 23px;
    color: #5e5e5e;
    font-size: 1.1rem;
}

.inputTest:hover {
    background-color: white;
}

.espaco1 {
    margin-left: 90px;
}

.last {
    height: 168px;
}

.submit {
    box-shadow: 7px 7px #bbb;
    border-radius: 16px;
    background-color: #0c0c0c;
    width: 140px;
    height: 60px;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 60px;
    margin-left: 170px;
    margin-top: 50px;
}

.submit:hover {
    background-color: #fff;
    color: #000;
}